@import "variables";
.reach-out {
  position: relative;
  margin-bottom: 200px;
  .block-with-text-image {
    display: flex;
    flex-direction: column;
  }
  .reach-out-text {
    font-size: 13px;
    line-height: 24px;
    font-family: "Aclonica";
  }
  .reach-out-image {
    width: 100%;
  }
  .block-with-buttons {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -180px;
    padding: 20px 20px;
    margin: 0 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #00d4ff 27%, #4bd750 73%);
    .question {
      font-family: "Acme", sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 24px;
      color: $white-color;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    }
  }
  .button-arrow {
    // padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
    width: 100%;
    max-width: 180px;
    height: 40px;
    display: block;
    font-family: "Aclonica", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $white-color;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #00d4ff 27%, #4bd750 73%);
    background: inherit;
  }
}

@media screen and (min-width: 1400px) {
  .reach-out {
    .block-with-text {
      margin-top: 150px;
      margin-right: 150px;
    }
    .reach-out-image {
      max-width: 705px;
    }
    .block-with-text-image {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .reach-out-text {
      max-width: 470px;
    }
    .block-with-buttons {
      width: 1030px;
      flex-direction: row;
      left: 120px;
      right: 26px;
      bottom: -100px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .reach-out {
    .block-with-buttons {
      left: 250px;
    }
  }
}

@media screen and (min-width: 1700px) {
  .reach-out {
    .block-with-buttons {
      display: flex;
      justify-content: space-between;
      left: 350px;
      padding-top: 25px;
      padding-bottom: 35px;
      padding-left: 70px;
      padding-right: 70px;
    }
    .button-block {
      width: 45%;
    }
  }
}
