@import "variables";
.slider-plans {
  padding-top: 40px;
  .slider-responsive {
    .slider-responsive-card {
      background: $white-color;
      .plan-title {
        font-family: "Acme", sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2.25px;
        text-transform: uppercase;
        color: $green-color;
      }
      .plan-features {
        .plan-feature {
          padding-bottom: 10px;
          border-top: 1.5px solid $white-color;
          margin-left: 35px;
          margin-right: 35px;
          display: flex;
          align-items: center;
          .feature {
            padding-left: 30px;
            font-family: "Aclonica", sans-serif;
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            color: $gray-color;
          }
        }
      }
      .slider-plans-button {
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 75%;
        height: 40px;
        border: 1px solid $green-color;
        box-sizing: border-box;
        border-radius: 40px;
        font-family: "Acme", sans-serif;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        color: $green-color;
        background-color: $white-color;
        cursor: pointer;
      }
    }
  }
  .slider-responsive-card.plus-plan {
    background: linear-gradient(90deg, rgba(17, 183, 238, 1) 36%, rgba(45, 208, 91, 1) 62%);
    .plan-title {
      color: $white-color !important;
    }
    .feature {
      color: $white-color !important;
    }
  }
}

.not-availiable {
  color: #e5e5e5 !important;
}
